<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468544879469-kk8e5u5tfgod6794ihq6dsvq0nbn3qle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468544879469-kk8e5u5tfgod6794ihq6dsvq0nbn3qle</string>
	<key>API_KEY</key>
	<string>AIzaSyAFTBeAaSXrjo1QT32jlW3jtMGz5SJNXjA</string>
	<key>GCM_SENDER_ID</key>
	<string>468544879469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.millanApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-react-554b3</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-react-554b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468544879469:ios:5210c7cd91b4eaa5817864</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-react-554b3.firebaseio.com</string>
</dict>
</plist>